.header {
    padding: 10px 0 19px 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    position: fixed;
    background-color: var(--primary-white);
    z-index: 5;
}

.header-top {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-flow: column;
    align-items: center;
}

.regionality {
    display: flex;
    align-items: center;
    gap: 12px;
}

.regionality-cities {
    display: flex;
    align-items: center;
    gap: 7px;
}

.city {
    font-size: 13px;
}

.business-address {
    display: flex;
    align-items: center;
    gap: 14px;
}

.request-call {
    display: flex;
    align-items: center;
    gap: 16px;
}

.phone {
    display: flex;
    align-items: center;
    gap: 7px;
}

.request-call__phone {
    font-size: 15px;
    line-height: 18px;
}

.request-call__link {
    color: #3562D6;
    ;
    transition: .3s ease;
}

.request-call__link:hover {
    color: var(--light-blue);
}

.line-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
}

.language-selection {
    display: flex;
    align-items: center;
    gap: 7px;
}

.language-selection__dropdown {
    display: flex;
    align-items: center;
    gap: 7px;
}

.lang {
    font-size: 13px;
}

.profile {}

#cart {
    position: relative;
    padding-right: 5px;
}

#cart::after {
    content: '4';
    position: absolute;
    right: 0;
    top: -5px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: var(--primary-white);
    width: 15px;
    height: 15px;
    background: #49B822;
    border-radius: 50%;
}

.header-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.burger {
    width: 25px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
    transition: .3s all;
}

.burger::after {
    content: '';
    width: 10px;
    height: 2px;
    background-color: var(--primary-text-color);
    border-radius: var(--border-radius);
    transition: width .3s;
}

.burger:hover::after {
    width: 14px;
}

.burger::before {
    content: '';
    width: 16px;
    height: 2px;
    background-color: var(--primary-text-color);
    border-radius: var(--border-radius);
    transition: width .3s;
}

.burger:hover::before {
    width: 20px;
}

.header-main__logo {
    display: flex;
}

.header-main__title {
    max-width: 200px;
    word-wrap: break-word;

}

.header-main__title p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.header-main__menu {}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 45px;
}

.menu__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.menu__link:hover {
    color: var(--light-blue);
}

.menu__hide {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-dots {
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.hide {
    display: none;
}

.menu-dots span:nth-child(1),
.menu-dots span:nth-child(2),
.menu-dots span:nth-child(3) {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: var(--border-radius);
    background-color: black;
}

.hide-list {
    position: absolute;
    visibility: hidden;
    border-radius: var(--border-radius);
    background-color: var(--primary-white);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    padding: 23px;
    height: 0%;
    transition: height .3s;
}

.menu-dots:hover+.hide-list {
    visibility: visible;
    height: auto;
}

.header-main__request {
    display: flex;
}

.request-btn {
    padding: 11px 22px;
    font-size: 13px;
    font-weight: 600;
}

@media (max-width: 1140px) {
    .business-address {
        display: none;
    }

    .request-call__link {
        display: none;
    }
}

@media (max-width: 993px) {
    .header-main__title {
        display: none;
    }

    .header-main__menu {
        display: none;
    }

    .menu {}

    .header-main__request {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        display: block;
    }

    .header-top {
        display: none;
    }
}