.advantages {
    margin-top: 150px;
}

.advantages-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 34px;
    word-break: break-word;
}

.advantages-card {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

.card-item {
    width: 100%;
    padding: 40px;
    display: flex;
    border-radius: var(--border-radius);
    background: var(--secondary-white);
}

.card-item__content {
    max-width: 100%;
    word-break: break-word;
}


.card-title {
    padding: 24px 0 9px 0;
    font-size: 20px;
}

.card-description {
    font-size: 16px;
}

.more-info {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 993px) {
    .advantages-title {
        text-align: center;
    }

    .advantages-card {
        flex-direction: column;
        gap: 32px;
    }
}