.section-form {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    margin: 0 auto;
}

.form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-title {}

.section-name {
    color: #999999;
    text-transform: uppercase;
}
.form{
    margin-top: 31px;
}
.form-container {
    display: grid;
    grid-template-columns: [column] 1fr [column] 1fr;
    grid-template-rows: [row] 1fr;
    column-gap: 32px;
    row-gap: 18px;
}

.form-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.name {
    grid-column: column;
    grid-row: row;
}

.phone {
    grid-column: column 2;
    grid-row: row;
}

.question {
    grid-column: column 1 / span 2;
    grid-row: row 2;
}

.consent-container {
    margin-top: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.consent-check[type=checkbox] {
    cursor: pointer;
}

.consent-label {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.consent-link {
    color: var(--secondary-color);
}

.send-form {
    display: flex;
    justify-content: center;
}

@media (max-width: 993px) {
    .form-container {
        grid-template-columns: 1fr;
    }

    .name {
        grid-column: 1;
        grid-row: row;
    }

    .phone {
        grid-column: 1;
        grid-row: row 2;
    }

    .question {
        grid-column: 1;
        grid-row: row 3;
    }

    .send-form__button {
        width: 100%;
    }
}